doctype
html( lang="en" )
    include ./template/head.jade
    body
        .container
            include ./template/menu.jade
            div.page-header
                h2 About
            div.row
                p.text-center Trua Nay An Gi Application
 
        include ./template/foot.jade
        