doctype
html( lang="en" )
    include ./template/head.jade
    body
        .container
            include ./template/menu.jade
            .jumbotron
                h1 Hello!
                p This is a simple application which allow users order food for lunch with many great features.
                p: a.btn.btn-primary.btn-lg( href="more.htm" ) Join now
                
 
        include ./template/foot.jade