div.row(style='margin-top:50px')
	div.col-md-12.col-sm-12
		p.text-center Trua Nay An Gi &copy; 2015

script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
script( src="http://momentjs.com/downloads/moment.min.js" )
script(type="text/javascript").
	$(document).ready(function() {
		$('#message').delay(5000).fadeOut('slow');
	});	