nav.navbar.navbar-default( role="navigation" )
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="/")
            span.glyphicon.glyphicon-cutlery(style='margin-right:10px')
            | Trua Nay An Gi

    #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav.fluid
            li: a( href="/") Home
            li: a( href="/order/today" ) Order
            li: a( href="/history" ) History
            li: a( href="/about" ) About
            if data.current_user && data.current_user.group == 1
                li.dropdown
                    a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Admincp 
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="/admincp/menu-importer" ) Import menu
                        li: a( href="/admincp/menu-manager" ) Menu manager
                        li: a( href="/admincp/user-manager" ) User manager
                        li: a( href="/admincp/statistics-by-day" ) Statistics By Day
        ul.nav.navbar-nav.navbar-right
            li.dropdown
                if data.current_user
                    a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" )
                        |Hello, 
                        b!=data.current_user.displayName 
                            span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="/profile" ) Profile
                        li.divider
                        li: a( href="/logout" ) Logout
                else
                    a( href="/login" ) Sign in / Sign up 
if data.message && data.message.content
        div(class="alert alert-dismissable alert-#{ data.message.type }")#message
            button.close(data-dismiss="alert" type="button") × 
            !=data.message.content